@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --foreground-rgb: #ffffff;

  --border-600: #57606a;

  --gray-100: #5b5b5b;
  --gray-200: #4f4f4f;
  --gray-300: #3e3e3e;
  --gray-400: #383838;
  --gray-500: #2d2d2d;
  --gray-600: #252525;
  --gray-700: #1b1b1b;
  --gray-800: #181818;
  --gray-900: #121212;
  --gray-1000: #121212;
  --gray-1100: #080808;

  --black-100: #848d97;
  --black-200: #2a3952;
  --black-300: #243147;
  --black-400: #1f2b3e;
  --black-500: #1a2434;
  --black-600: #151d29;
  --black-700: #131923;
  --black-800: #0f141c;
  --black-900: #0d1117;
  --black-1000: #090c10;
  --black-1100: #06080b;

  --primary-1: #9bc3f3;
  --primary-50: #65a0e8;
  --primary-100: #478bdd;
  --primary-200: #2676d7;
  --primary-300: #0b64ce;
  --primary-400: #0f72e3;
  --primary-500: #0d6bd8;
  --primary-600: #1f6feb;

  --blue-100: #69a3fa;
  --blue-200: #5093f8;
  --blue-300: #297bf6;
  --blue-400: #1871f5;

  --secondary-100: #62c973;
  --secondary-200: #47b85a;
  --secondary-300: #2e9a40;
  --secondary-400: #238636;
  --secondary-500: #29903b;

  --white-100: #ffffff;
  --white-200: #f0f6fc;
  --white-300: #e8eff7;
  --white-400: #dee7f1;
  --white-500: #d3dde8;
  --white-600: #d0d7de;
  --white-700: #c5ccd3;
  --white-800: #bec4cb;
  --white-900: #b5bbc2;
  --white-1000: #adb2b8;
  --white-1000: #9da3aa;

  --fgColor-muted-100: #bcc6d1;
  --fgColor-muted: #848d97;
  --fgColor-muted-300: #898989;

  --sub-nav-mktg-shadow: 0 0 0 1px rgba(53, 72, 91, 0.14),
    0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 7px rgba(0, 0, 0, 0.03);
}

* {
  transition-duration: 100ms;
  -webkit-backface-visibility: hidden;
}

svg {
  transition-duration: 0ms;
}

*:focus {
  outline: none !important;
}

body,
html {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
}

::selection {
  background-color: #2075f6; /* 388bfd66 */
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  user-select: none;
}

/* FONTS */
.f-ibm_sans {
  font-family: "IBM Plex Sans" !important;
}

.f-ibm_serif {
  font-family: "IBM Plex Serif", serif !important;
}

.f-ibm_mono {
  font-family: "IBM Plex Mono", monospace !important;
}

.f-roboto {
  font-family: "Roboto", sans-serif !important;
}

.f-dmsans {
  font-family: "DM Sans", sans-serif !important;
}

/* CUSTOM CLASSES */
.cBtn-white {
  box-shadow: inset 0px 2px 1px var(--white-100),
    inset 0px -3px 1px var(--white-700);
}

.cBtn-white:hover {
  box-shadow: inset 0px 2px 1px var(--white-100),
    inset 0px -3px 1px var(--white-700), 0 4px 7px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(255, 255, 255, 0.04),
    0 42px 33px rgba(255, 255, 255, 0.044),
    0 22px 18px rgba(255, 255, 255, 0.048),
    0 12px 10px rgba(255, 255, 255, 0.054), 0 7px 5px rgba(255, 255, 255, 0.054),
    0 3px 2px rgba(255, 255, 255, 0.087);
}

.cBtn-blue {
  box-shadow: inset 0px 2px 1px var(--blue-200),
    inset 0px -3px 1px var(--blue-400);
}

.cBtn-blue:hover {
  box-shadow: inset 0px 2px 1px var(--blue-200),
    inset 0px -3px 1px var(--blue-400), 0 4px 7px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(24, 112, 245, 0.04), 0 42px 33px rgba(24, 112, 245, 0.044),
    0 22px 18px rgba(24, 112, 245, 0.048), 0 12px 10px rgba(24, 112, 245, 0.054),
    0 7px 5px rgba(24, 112, 245, 0.054), 0 3px 2px rgba(24, 112, 245, 0.087);
}

.shadow-c-sub-nav {
  box-shadow: var(--sub-nav-mktg-shadow);
}

.gradient.gradient-codespaces {
  color: var(--fgColor-done, var(--color-done-fg));
  background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
    #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.gradient-blue {
  color: var(--fgColor-done, var(--color-done-fg));
  background: linear-gradient(
      260deg,
      rgba(61, 103, 255, 1) 0%,
      rgba(210, 168, 255, 1) 50%,
      rgb(255, 185, 247) 80%
    ),
    #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HERO SECTION */
#hero-section {
  position: relative;
  background-color: var(--black-1100);
}
#hero-section::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 200%;
  background: url('data:image/svg+xml,<svg class="frame-4" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H64V64H0V0Z" fill="white" fill-opacity="0.2" /><path d="M320 0H384V64H320V0Z" fill="white" fill-opacity="0.2" /><path d="M384 128H448V192H384V128Z" fill="white" fill-opacity="0.2" /><path d="M64 384H128V448H64V384Z" fill="white" fill-opacity="0.2" /><path d="M192 256H256V320H192V256Z" fill="white" fill-opacity="0.2" /><path d="M128 64H192V128H128V64Z" fill="white" fill-opacity="0.2" /><path d="M320 384H384V448H320V384Z" fill="white" fill-opacity="0.2" /><path d="M0 192H64V256H0V192Z" fill="white" fill-opacity="0.2" /><path d="M448 320H512V384H448V320Z" fill="white" fill-opacity="0.2" /><path d="M64 0H0V64H64M64 0V64M64 0H128M64 64H128M64 64V128M320 0H384M320 0V64M320 0H256M384 0V64M384 0H448M384 64H320M384 64V128M384 64H448M320 64H256M320 64V128M384 128H448M384 128V192M384 128H320M448 128V192M448 128V64M448 128H512M448 192H384M448 192V256M448 192H512M384 192H320M384 192V256M64 384H128M64 384V448M64 384V320M64 384H0M128 384V448M128 384V320M128 384H192M128 448H64M128 448V512M128 448H192M64 448H0M64 448V512M192 256H256M192 256V320M192 256V192M192 256H128M256 256V320M256 256V192M256 256H320M256 320H192M256 320V384M256 320H320M192 320H128M192 320V384M128 64H192M128 64V128M128 64V0M192 64V128M192 64V0M192 64H256M192 128H128M192 128V192M192 128H256M128 128H64M128 128V192M128 0H192M64 128H0M64 128V192M128 192H64M128 192V256M128 192H192M64 192H0V256H64M64 192V256M128 256H64M128 256V320M64 256V320M128 320H64M64 320H0M128 512H64M128 512H192M64 512H0M192 0H256M192 192H256M192 384V448M192 384H256M192 448V512M192 448H256M192 512H256M256 0V64M256 64V128M256 128V192M256 128H320M256 192H320M256 384V448M256 384H320M256 448V512M256 448H320M256 512H320M320 128V192M320 192V256M384 256H320M384 256V320M384 256H448M320 256V320M384 320H320M384 320V384M384 320H448M320 320V384M384 384H320M384 384V448M384 384H448M320 384V448M384 448H320M384 448V512M384 448H448M320 448V512M448 320H512M448 320V384M448 320V256M512 320V384M512 320V256M512 384H448M512 384V448M448 384V448M384 512H320M384 512H448M448 0V64M448 0H512V64M448 64H512M448 256H512M448 448V512M448 448H512M448 512H512V448M512 64V128M512 128V192M512 192V256" stroke="white" stroke-width="0.5" /></svg>');
  mix-blend-mode: overlay;
  opacity: 0.25;
}
.hero-gradient {
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(5rem);
  opacity: 0.65;
  mix-blend-mode: screen;
  /* animation: gradientOpacityBlur 3500ms linear infinite; */
}
.hero-gradient span:nth-child(1) {
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(rgba(61, 103, 255, 1), transparent 60%);
}
.hero-gradient span:nth-child(2) {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(rgba(210, 168, 255, 1), transparent 60%);
}
.hero-gradient span:nth-child(3) {
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(rgba(87, 211, 101, 1), transparent 60%);
}
@keyframes gradientOpacityBlur {
  0% {
    opacity: 0.75;
    filter: blur(5rem) hue-rotate(0deg) saturate(1);
  }
  50% {
    opacity: 1;
    filter: blur(8rem) hue-rotate(20deg) saturate(2);
  }
  100% {
    opacity: 0.75;
    filter: blur(5rem) hue-rotate(0deg) saturate(1);
  }
}

#hero-tagline {
  position: relative;
  background: linear-gradient(90deg, #d2a8ff, #57d365);
  border-radius: 100px;
  width: 14.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#hero-tagline::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: rgb(210, 168, 255);
  background: linear-gradient(
    90deg,
    rgba(210, 168, 255, 1) 30%,
    rgba(87, 211, 101, 1) 70%
  );
  width: 20rem;
  height: 20rem;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: gradientRotate 3500ms linear infinite;
}
@keyframes gradientRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#hero-tagline::after {
  content: "✦ Designing Your Digital Triumph";
  position: absolute;
  z-index: 2;
  background-color: var(--black-1100);
  width: 14.36rem;
  height: 1.95rem;
  border-radius: 100px;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

/* SECTION 2 */
.sec2-shining_border1,
.sec2-shining_border2,
.sec2-shining_border3 {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--primary-500) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--primary-500) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--primary-500) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.sec2-shining_border1 {
  width: 14rem;
  height: 100%;
  filter: saturate(3);
}

.sec2-shining_border2 {
  width: 8rem;
  height: 2px;
  filter: blur(4px) saturate(2);
}

.sec2-shining_border3 {
  width: 4rem;
  height: 4px;
  filter: blur(8px);
}

/* WEB SERVICES */
#ws-card {
  position: relative;
  transition: opacity 200ms;
}

#ws-card:hover::before,
#ws-card:hover::after {
  opacity: 1;
  transition: opacity 200ms;
}

#ws-card::before {
  content: " ";
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    var(--black-200),
    transparent 40%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}
#ws-card::after {
  content: " ";
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--primary-400),
    transparent 40%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}

#sec-3_bg-grid {
  background-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_843_66)"><path fill-rule="evenodd" clip-rule="evenodd" d="M106.12 104.9H111V106.12H106.12V111H104.9V106.12H93.92V111H92.7V106.12H81.72V111H80.5V106.12H69.52V111H68.3V106.12H57.32V111H56.1V106.12H45.12V111H43.9V106.12H32.92V111H31.7V106.12H20.72V111H19.5V106.12H8.52V111H7.3V106.12H-11V104.9H7.3V93.92H-11V92.7H7.3V81.72H-11V80.5H7.3V69.52H-11V68.3H7.3V57.32H-11V56.1H7.3V45.12H-11V43.9H7.3V32.92H-11V31.7H7.3V20.72H-11V19.5H7.3V8.52H-11V7.3H7.3V-11H8.52V7.3H19.5V-11H20.72V7.3H31.7V-11H32.92V7.3H43.9V-11H45.12V7.3H56.1V-11H57.32V7.3H68.3V-11H69.52V7.3H80.5V-11H81.72V7.3H92.7V-11H93.92V7.3H104.9V-11H106.12V7.3H111V8.52H106.12V19.5H111V20.72H106.12V31.7H111V32.92H106.12V43.9H111V45.12H106.12V56.1H111V57.32H106.12V68.3H111V69.52H106.12V80.5H111V81.72H106.12V92.7H111V93.92H106.12V104.9ZM104.9 104.9V93.92H93.92V104.9H104.9ZM92.7 104.9V93.92H81.72V104.9H92.7ZM80.5 104.9V93.92H69.52V104.9H80.5ZM68.3 104.9V93.92H57.32V104.9H68.3ZM56.1 104.9V93.92H45.12V104.9H56.1ZM43.9 104.9V93.92H32.92V104.9H43.9ZM31.7 104.9V93.92H20.72V104.9H31.7ZM19.5 104.9V93.92H8.52V104.9H19.5ZM8.52 92.7H19.5V81.72H8.52V92.7ZM20.72 92.7H31.7V81.72H20.72V92.7ZM32.92 92.7H43.9V81.72H32.92V92.7ZM45.12 92.7H56.1V81.72H45.12V92.7ZM57.32 92.7H68.3V81.72H57.32V92.7ZM69.52 92.7H80.5V81.72H69.52V92.7ZM81.72 92.7H92.7V81.72H81.72V92.7ZM93.92 92.7H104.9V81.72H93.92V92.7ZM104.9 80.5V69.52H93.92V80.5H104.9ZM92.7 80.5V69.52H81.72V80.5H92.7ZM80.5 80.5V69.52H69.52V80.5H80.5ZM68.3 80.5V69.52H57.32V80.5H68.3ZM56.1 80.5V69.52H45.12V80.5H56.1ZM43.9 80.5V69.52H32.92V80.5H43.9ZM31.7 80.5V69.52H20.72V80.5H31.7ZM19.5 80.5V69.52H8.52V80.5H19.5ZM8.52 68.3H19.5V57.32H8.52V68.3ZM20.72 68.3H31.7V57.32H20.72V68.3ZM32.92 68.3H43.9V57.32H32.92V68.3ZM45.12 68.3H56.1V57.32H45.12V68.3ZM57.32 68.3H68.3V57.32H57.32V68.3ZM69.52 68.3H80.5V57.32H69.52V68.3ZM81.72 68.3H92.7V57.32H81.72V68.3ZM93.92 68.3H104.9V57.32H93.92V68.3ZM104.9 56.1V45.12H93.92V56.1H104.9ZM92.7 56.1V45.12H81.72V56.1H92.7ZM80.5 56.1V45.12H69.52V56.1H80.5ZM68.3 56.1V45.12H57.32V56.1H68.3ZM56.1 56.1V45.12H45.12V56.1H56.1ZM43.9 56.1V45.12H32.92V56.1H43.9ZM31.7 56.1V45.12H20.72V56.1H31.7ZM19.5 56.1V45.12H8.52V56.1H19.5ZM8.52 43.9H19.5V32.92H8.52V43.9ZM20.72 43.9H31.7V32.92H20.72V43.9ZM32.92 43.9H43.9V32.92H32.92V43.9ZM45.12 43.9H56.1V32.92H45.12V43.9ZM57.32 43.9H68.3V32.92H57.32V43.9ZM69.52 43.9H80.5V32.92H69.52V43.9ZM81.72 43.9H92.7V32.92H81.72V43.9ZM93.92 43.9H104.9V32.92H93.92V43.9ZM104.9 31.7V20.72H93.92V31.7H104.9ZM92.7 31.7V20.72H81.72V31.7H92.7ZM80.5 31.7V20.72H69.52V31.7H80.5ZM68.3 31.7V20.72H57.32V31.7H68.3ZM56.1 31.7V20.72H45.12V31.7H56.1ZM43.9 31.7V20.72H32.92V31.7H43.9ZM31.7 31.7V20.72H20.72V31.7H31.7ZM19.5 31.7V20.72H8.52V31.7H19.5ZM8.52 19.5H19.5V8.52H8.52V19.5ZM20.72 19.5H31.7V8.52H20.72V19.5ZM32.92 19.5H43.9V8.52H32.92V19.5ZM45.12 19.5H56.1V8.52H45.12V19.5ZM57.32 19.5H68.3V8.52H57.32V19.5ZM69.52 19.5H80.5V8.52H69.52V19.5ZM81.72 19.5H92.7V8.52H81.72V19.5ZM93.92 19.5H104.9V8.52H93.92V19.5Z" fill="%230f141c"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-3.68 -4.9V-11H-4.9V-4.9H-11V-3.68H-4.9V111H-3.68V-3.68H111V-4.9H-3.68Z" fill="%230f141c"/></g><defs><clipPath id="clip0_843_66"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>');
}

/* CLIENTS */
.splide__track {
  height: 100%;
}

/* HEADER */
#header-menu_box {
  z-index: 500;
  box-shadow: 0px 0px 0px 1px #848d9720, 0px 2px 12px 2px #848d9705;
}

#header-menu_box::before {
  position: absolute;
  z-index: -1;
  top: -18px;
  content: url('data:image/svg+xml,<svg class="frame-13" width="32" height="11" viewBox="0 0 32 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_875_7)"><path d="M27 12H29.5591L27.678 10.2649L18.7993 2.07542C17.2448 0.641526 14.7552 0.641528 13.2007 2.07542L4.322 10.2649L2.44093 12H5H27Z" fill="%230c1018" stroke="%23848d9720" stroke-width="1" /></g><defs><clipPath id="clip0_875_7"><rect width="32" height="11" fill="white" /></clipPath></defs></svg>');
}

#header-menu_box::after {
  position: absolute;
  z-index: 500;
  top: -18px;
  content: url('data:image/svg+xml,<svg class="frame-13" width="32" height="11" viewBox="0 0 32 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.8787 2.81048C15.0503 1.72984 16.9497 1.72984 18.1213 2.81048L27 11H5L13.8787 2.81048Z" fill="%230c1018" /></svg>');
}

/* ECOMMERCE */
#ecommerce_sec2 #ecommerce_sec2-child {
  border-bottom: 1.5px solid var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(1),
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(2) {
  border-bottom: 0px solid var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-child(odd) {
  border-right: 1.5px solid var(--white-400);
}

#ecommerce_sec2 #ecommerce_sec2-child:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -21.5px;
  left: -1.5px;
  width: 1.5px;
  height: 20px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -21.5px;
  width: 20px;
  height: 1.5px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -21.5px;
  right: -1.5px;
  width: 1.5px;
  height: 20px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -1.5px;
  right: -21.5px;
  width: 20px;
  height: 1.5px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(2)::before {
  content: "";
  position: absolute;
  bottom: -21.5px;
  left: -1.5px;
  width: 1.5px;
  height: 20px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(2)::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: -21.5px;
  width: 20px;
  height: 1.5px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(1)::before {
  content: "";
  position: absolute;
  bottom: -21.5px;
  right: -1.5px;
  width: 1.5px;
  height: 20px;
  background: var(--white-400);
}
#ecommerce_sec2 #ecommerce_sec2-child:nth-last-child(1)::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  right: -21.5px;
  width: 20px;
  height: 1.5px;
  background: var(--white-400);
}